form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;

    input {
        width: 20%;
        height: 30px;
    }  
}

.formHeading {
    margin: 50px 0 20px 0;
    font-weight: 700;
    font-size: 30px;
    color: #778899;

}

.button {
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    background-color: #778899;
    color: #F0F8FF;
    border-color: #F0F8FF;
    border-radius: 5px;
    width: 20%;
}

.button:hover {
    background-color: #4CAF50;
}

